<div class="flex mx-auto max-w-7xl justify-between flex-nowrap">
    <div class="flex flex-row items-end">
        <span class="text-6xl font-serif pl-2 pt-4 pb-2 text-white shrink-0 mt-8">Track Tasks</span><lucide-icon [img]="icons.SquareCheck" size="96" class="stroke-white" stroke/>
    </div>

    <div class="flex w-80 self-stretch justify-around items-end">
        <a class="font-serif text-2xl cursor-pointer text-white hover:scale-105 duration-300 ease-in-out">Changelog</a>
        <a class="font-serif text-2xl cursor-pointer text-white hover:scale-105 duration-300 ease-in-out">Blog</a>
        <a class="font-serif text-2xl cursor-pointer text-white hover:scale-105 duration-300 ease-in-out">Pricing</a>
    </div>
</div>