/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=DM+Sans:wght@400;500;600;700&family=Sora:wght@400;600;700&display=swap');

@import 'tailwindcss';

@keyframes slide {
    from {translate: 0;}
    to {translate: -100%;}
}

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-serif: 'Fraunces', serif;
  --font-mono: 'JetBrains Mono', monospace;

  --color-primary: #F97316; /* BRIGHT ORANGE */
  --color-secondary: #EA580C; /* BURNT ORANGE */
  --color-tertiary: #FED7AA; /* SOFT PEACH */
  --color-background: #1E3A5F; /* NAVY BLUE */
}

@layer carousel {
    .card {
        @apply flex-[0_0_60vw] h-[30vh] p-2 bg-transparent text-xl text-center content-center overflow-hidden;
    }
}

.hover-ani {
    transition: transform 1s ease; 
}

.hover-ani:hover {
    transform: scale(1.05);
}

.group:has(.pointer-events-auto:hover) {
    transform: scale(1.1);
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

